@media screen{
	body{background-color:#222222;color:#DDDDDD;}
	div.tocbox{background:gray;border:1px solid white;color:#222222;}
	hr.note{border-top:1px solid white;}
	th{border:1px solid white;}
	td{border:1px solid gray;}
	a:link{color:lightblue;}
	a:visited{color:plum;}
	a.toclink{color:darkblue;}
}
@media print {
	body,a:link,a:visited{background-color:white;color:black;}
	div.tocbox{background:white;border:1px solid black;color:black;}
	hr.note{border-top:1px solid black;}
	th{border:1px solid black;}
	td{border:1px solid gray;}
}
